.container {
    width: 800px;
    margin: 0 auto;
    position: relative;
    border: 2px solid black;
    background-color: #356AA0;
    margin-top: 10%;

}
.title {
    position: absolute;
    color: white;
    top: -10px;
    left: 20px;
    background-color: #356AA0;
}
table {
    margin: auto;
    margin-left: 25%;
    color: white;
    border-spacing: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}